{% extends 'base.html' %}
{%  load  crispy_forms_tags  %}

    {% block body %}

        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                     <div class="pb-2 my-4 border-bottom">
                        <h2 class="mx-5" >Güncelle</h2>
                     </div>
                    <Form method="POST" class="uniForm" enctype="multipart/form-data">
                       {% csrf_token %}
                        {{form|crispy }}
                        <input type="submit" class="btn btn-outline-primary btn-k2m mt-5 mx-3" value="Güncelle">
                        <a href="{% url 'book:index' %}" class="btn btn-danger btn-k2m mt-5 mx-3" role="button">İptal</a>              
                        
                    </form>
                </div>
            </div>

        </div>

    {% endblock %}
